---
title: About title
layout: base.njk
---

    <div class="container">
        <h1>About me</h1>
        <div class="content">            
            <h4>What do you need to know?</h4>
        </div>

        {% for item in news %}
            <a href="/{{ item.country}}">{{ item.country }}</a>
        {%  endfor %}
    </div>